.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list {
  border: 4px solid white;
}

.main {
  border: 20px solid black;
}
