.square {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.white {
  background: white;
}

.black {
  background: black;
}

.checker {
  box-sizing: border-box;
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: move;
}

.checker.black {
  border: 3px solid white;
}

.list {
  display: flex;
}

.moveIsPossible {
  background: blue;
}

.jumpIsPossible::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: crimson;
}

.squareActive {
  background: darkblue;
}

.king {
  box-shadow: 0 0 0 3px yellow;
}
